// Colors
$accent-color: #e30613; // Accent color
$secondary-color: #eff2f7; // Secondary color
$text-color: #000000; // Black for text
$background-color: #ffffff; // White background
$light-gray: #eaeaea; // Light gray
$dark-gray: #a9a9a9; // Dark ray

// Fonts
$font-family-main: 'Gilroy', Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Breakpoints
$breakpoint-xs: 390px; // Small smartphone
$breakpoint-sm: 480px; // Middle and large smartphones
$breakpoint-md: 768px; // Tablet
$breakpoint-lg: 1024px; // Laptop and PC
$breakpoint-xl: 1440px; // Large screens (Retina)

// Indents and sizes
$container-padding: 20px; // Side padding on mobile devices
$gap-sm: 20px; // Small indent between elements
$gap-md: 20px; // Middle indent
$gap-lg: 40px; // Large indent

// Rounding radius
$border-radius-sm: 8px; // Small
$border-radius-md: 12px; // Middle
$border-radius-lg: 16px; // Large
